<div class="card">
    <div class="card-body">
        <div class="card-content">
            <h5 class="card-title">Brand:@vehicle.brand</h5>
            <h5 class="card-title">Model: @vehicle.model</h5>
            <h5 class="card-title">Year: @vehicle.year</h5>
            <h5 class="card-title">Color: @vehicle.color</h5>
            <h4 class="card-title"><a href="@vehicle.url">Click here to see the vehicle!</a></h4>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Vehicle vehicle { get; set; }
}