@page "/"

<PageTitle>Car</PageTitle>

<h1>CarListings we have @carsToShow.Count cars in our system!</h1>

<select @bind="SelectedColor" class="form-select">
    <option value="">Select a color</option>
    <option value="red">Red</option>
    <option value="green">Green</option>
    <option value="blue">Blue</option>
    <option value="black">Black</option>
</select>
<br />

<button class="btn btn-primary" @onclick="() => FilterAndUpdateCars()">Click me</button>

<br />
<br />

@foreach (Vehicle car in carsToShow)
{
    <CarCard vehicle="car"> </CarCard>
}

@code {
    public string SelectedColor;

    public List<Vehicle> carsToShow;
    private string connectionString;

    protected override void OnInitialized()
    {
        carsToShow = DB.allVehicles;
    }

    public void FilterAndUpdateCars()
    {
        carsToShow = FilterColor(DB.allVehicles, SelectedColor);

    }

    public List<Vehicle> FilterColor(List<Vehicle> allCars, string colorFilter)
    {
        if (colorFilter != "")
        {
            carsToShow = allCars.Where(car => car.color.ToUpper() == colorFilter.ToUpper()).ToList();
        } else
        {
            carsToShow = allCars;
        }

        return carsToShow;
    }
}
