@page "/carousel"
@inject List<Vehicle> allCars

<PageTitle>Carousel</PageTitle>

<h1>Carousel</h1>

<button @onclick="PreviousImage">Previous</button>
<button @onclick="NextImage">Next</button>

<div class="carousel">
    @for (var i = 0; i < carToShow.images.Count; i++) {
        var path = $"{carToShow.imageFolderPath}{i}.webp";
        <div class="carousel-item @(currentIndex == i ? "active" : "")">
            <img src="@path" alt="Image @i" />
        </div>

    }
</div>


@code {
    public Vehicle carToShow;
    private int index = 0;
    private int currentIndex = 0;
    
    protected override void OnInitialized()
    {
        carToShow = allCars[120];
    }

    private void NextImage()
    {
        currentIndex = (currentIndex + 1) % carToShow.images.Count;
    }

    private void PreviousImage()
    {
        currentIndex = (currentIndex - 1 + carToShow.images.Count) % carToShow.images.Count;
    }
}
